SECRET_KEY
DEBUG=True
DB_ENGINE=django.db.backends.postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
# POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1
SOCIAL_AUTH_VK_OAUTH2_KEY=23424
SOCIAL_AUTH_VK_OAUTH2_SECRET=ksajdflaksjfklj


TOKEN_TG_BOT='botverificationcode'